<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Review Package Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="APP_KEY" value="base64:OTY2YmY1OGVlY2I0NGI3OGI0Y2M1ODAyZGJlM2M0YmI="/>
        <env name="REVIEWS_USER_MODEL" value="App\Models\User"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/ReviewsServiceProvider.php</file>
            <directory>./database</directory>
        </exclude>
    </source>
</phpunit>